* {
    margin: 0;
    --prim-color: hsl(158, 36%, 37%);
    --sec-color:  hsl(30, 38%, 92%);
    --tetr-color: hsl(116, 21%, 14%);
    --quatr-color :hsl(228, 12%, 48%);
    --quin-color: hsl(0, 0%, 100%);
    --sext-color: hsl(111, 21%, 6%);

    --prim-font: "Montserrat";
    --sec-font: "Fraunces";

    box-sizing: border-box;
}


body {
    background-color: var(--sec-color);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: 100%;
    max-width: 1440px;
}


.main-container {
    width: 24rem;
    height: 40rem;
    border-radius: 25px;
    overflow: hidden;
    background-color: var(--quin-color);
}

.main-img-desktop {
    max-width: 100%;
    display: none;
}

.main-img-mobile {
    width: 100%;
    vertical-align: middle;
}

.gridx2 {
    display: grid;
    grid-template-rows: 10% 30% 30% 20% 10%;
    margin: 1.8rem;
    text-align: left;

}

@media (min-width: 600px) {
    .grid {
        grid-template-columns: 50% 50%;
    }


    .main-container {
        width: 40rem;
        height: auto;
    }

    .main-img-mobile {
            display: none;
        }
                .main-img-desktop {
                    max-width: 100%;
                    display: flex;
                }
}


.flex {
    display: flex;
    align-items: center;
}

.par {
    font-family: var(--prim-font);
    font-weight: lighter;
    font-size: 14px;
    line-height: 1.6;
    color: var(--quatr-color);

}

.top {
    font-family: var(--prim-font);
    font-weight: lighter;
}

.heading {
    font-family: var(--sec-font);
}

.price {
    text-align: center;
    font-family: var(--sec-font);

}

.price-left {
    font-size: 2.5rem;
    color: var(--prim-color);
}

.price-right {
    color: var(--quatr-color);
    text-decoration: line-through;
    margin: auto;
}

.btn {
    background-color: var(--prim-color);
    border: none;
    font-family: var(--prim-font);
    color: var(--quin-color);
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    height: 3rem;
}


.btn:hover,
.btn:focus {
    background-color: var(--tetr-color);
}

.btn:active {
    background-color: var(--sext-color);
}